body {
    width: 80%;
    padding: 10%;
    height: 100%;
    margin: 0;
    font-family: tahoma;
    background-color: lightblue;
}
label{
    display: block;
    margin: 0.5rem 1rem;
}
input, textarea, select {
    display: block;
    margin: 10px 0;
    width: 95%;
    padding: 10px;
    min-height: 1.5em;
    border-radius: 0.5em;
}
fieldset{
    border: none;
    padding: 0;
}
.line{
    background-color: gray;
    padding: 2em;
    box-shadow: 0 0 25px 1px rgba(152, 156, 152, 1);
    opacity: 0.8;
}
input[type="submit"] {
    display: block;
    width: 50%;
    margin: auto;
    font-size: 1rem;
    border-color: grey;
    min-width: 30px;
    padding: auto;
    padding-bottom: 0.5em;
  }
h1, p  {
    text-align: center;
    margin: 0.5em;
    color: antiquewhite;
  }
  h1{
    font-size: 30px;
  }
  .boxes{
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
    display: inline;
  }